@font-face {
    font-family: 'Clash Display';
    src: url('../assets/fonts/ClashDisplay-Medium.woff2 ') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../assets/fonts/ClashDisplay-Semibold.woff2 ') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
}