@tailwind base;
@tailwind components;
@tailwind utilities;



h1,
h2 {
  @apply font-clash font-semibold;
}

h3,
h4,
h5,
h6 {
  @apply font-clash font-medium;
}

p {
  @apply font-sans font-normal text-[1.125rem] leading-[1.6rem];


}